<form class="f-inline" method="post" action="{{ path('ui_source_delete', {'id': source.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ source.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
