{% extends 'base.html.twig' %}

{% block title %}Edit Source{% endblock %}

{% block body %}
    <h1>Edit Source</h1>

    {{ include('ui/source/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" href="{{ path('ui_source_index') }}">Back to list</a>
{% endblock %}
