{% extends 'base.html.twig' %}

{% block title %}YoutubeDownload :: Index
{% endblock %}

{% block body %}
    <h1 class="text-center mb-2">Welcome to youtube downloader</h1><br>
    <h3>Please paste youtube link into the form bellow:</h3><br>
    {{ form(form) }}
{% endblock %}
